<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table id="tablaLibros" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th>Número Libro</th>
              <th>Título</th>
              <th>Autor</th>
              <th>Categoría</th>
              <th>Fecha Publicación</th>
              <th>Número Edición</th>
              <th>Argumento</th>
          </tr>
      </thead>
      <tbody>
        <% if(data.length > 0){ %>
        
            <% for (var i = 0; i < data.length; i++){ %>
            <tr>
              <td>
                <%= data[i].NumeroLibro%>
              </td>
              <td>
                <%= data[i].Titulo%>
              </td>
              <td>
                <%= data[i].Autor%>
              </td>
              <td>
                <%= data[i].Categoria%>
              </td>
              <td>
                <%= data[i].FechaPublicacion%>
              </td>
              <td>
                <%= data[i].NoEdicion%>
              </td>
              <td>
                <%= data[i].Argumento%>
              </td>
              <td>&nbsp;</td>
            </tr>
          <%  } %>
        <% } %>
      </tbody>
      <tfoot>
          <tr>
            <th>Número Libro</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Fecha Publicación</th>
            <th>Número Edición</th>
            <th>Argumento</th>
          </tr>
      </tfoot>
  </table>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-
  KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-
JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  <script src="./javascripts/libros.js"></script>
  
  </body>
</html>
